#BoardJumbo {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    background-color: blueviolet;
    padding-top: 150px;

}

.container {
    display: flex;
    flex-direction: column;
}