#Jumbo {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    background-color: blueviolet;
    padding-top: 150px;
}

#MainText {
    width: 70vw;
    font-size: 20px;
    text-align: left;
}

.startTab {
}
.container {
    display: flex;
    flex-direction: column;
}