#Jumbo {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    background-color: rgb(255, 2, 57);
    padding-top: 150px;
}

.container {
    display: flex;
    flex-direction: column;
}