#Jumbo {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    background-color: blueviolet;
}

#MainText {
    width: 70vw;
    font-size: 20px;
    text-align: left;
}

.startTab {
    padding-left: 2px;
}
.container {
    display: flex;
    flex-direction: column;
}