#Jumbo {
    width: 99.9vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    background-color: rgb(255, 2, 57);
    padding-top: 150px;
}

.ContactInfo {
    width: 99vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    text-align: center;
font-size: .7vw;
}

.container {
    display: flex;
    flex-direction: column;
}